@charset "UTF-8";

/* 共通部分
-------------------------------------------------*/
html {
    font-family: 'Noto Sans JP', sans-serif;
    /* font-family: 'RocknRoll One', sans-serif; */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    color: #333333;
    font-size: 1.8rem;
    background-color: #fff;
    background-image: url(images/bg_new.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color:rgba(0,0,0,0.05);
    background-blend-mode:darken;
    line-height: 3.2rem;
}

img {
    max-width: 100%;
    vertical-align: middle;
    -o-object-fit: cover;
       object-fit: cover;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

a {
    color: #333;
}

a:hover {
    color: #F8B400;
}

h2 {
    font-size: 3.6rem;
    line-height: 5rem;
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    margin-bottom: 60px;
}
section {
    margin: 140px auto 200px;
    padding-top: 60px;
}

#bosyuu {
    padding: 0;
}
.font_ro {
    font-family: 'RocknRoll One', sans-serif;
}

/* ヘッダー
-------------------------------------------------*/
header {
    font-family: 'RocknRoll One', sans-serif;
    display: flex;
    align-items: center;
    height: 60px;
    background: rgba(255, 255, 255, .9);
    position: sticky;
    top: 0;
    z-index: 99;
}
.flex_between {
    display: flex;
    justify-content: space-between;
}
h1 {
    font-size: 7rem;
    line-height: 7rem;
    width: 1000px;
    color: #333333;
}

.header_nav ul {
    display: flex;
}
.header_nav ul li {
    margin-left: 1.8rem;
}

/* トップ画像
-------------------------------------------------*/
.top_image {
    /* width: 100%;
    height: 600px;
    background-image: url(images/topimg.jpg);
    background-image: -webkit-image-set(url(images/topimg.jpg) 1x, url(images/topimg@2x.jpg) 2x);
    background-image: image-set(url(images/topimg.jpg) 1x, url(images/topimg@2x.jpg) 2x);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 1020px;
    padding: 50px 0;
    .top_image_slide {
        img {
            margin: 0 auto;
        }
    }
    position: relative;
}
.top_image_left {
    position: absolute;
    top: 10px;
    left: -40px;
    width: 280px;
    span {
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 30px;
    }
    .top_image_left_p {
        background-color: rgba(0, 0, 0, 0.75);
        color: #fff;
        padding: 30px 20px 30px;
        font-size: 1.4rem;
    }
    z-index: 995;
}
.top_image_right {
    position: absolute;
    top: 30%;
    right: -40px;
    width: 300px;
    text-align: center;
    padding: 30px 0 30px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    img {
        margin: 0 auto;
    }
    .visuallist {
        line-height: 2rem;
        margin-bottom: 10px;
    }
    .illustby {
        margin-top: 15px;
        line-height: 2.3rem;
    }
}
.top_image p {
    /* display: block;
    font-size: 4.8rem;
    text-height: 4.8rem;
    color: #fff;
    font-weight: 800; */
}
.top_image .caption {
    margin-top: 60px;
    font-size: 6rem;
}

.top_banner {
    max-width: 1024px;
    text-align: center;
    margin: 0 auto;
}
.top_image_thumb{
    .slick-track { 
        transform:unset!important;
    }
}

/* サイト概要
-------------------------------------------------*/
main.wrapper {
    text-align: center;
}

.button-034 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 5px;
    /* width: 120px; */
    margin: 40px auto 0;
    padding: .7em;
    border: none;
    border-radius: 5px;
    background-color: #1da1f2;
    color: #fff;
    /* font-size: .8em; */
}

.button-034:hover {
    border: 1px solid #1da1f2;
    background-color: #fff;
}

.button-034 svg {
    width: 1.5em;
    height: 1.5em;
}

.button-034 span {
    font-weight: 600;
}

.button-034:hover path {
    fill: #1da1f2;
}

.button-034:hover span {
    color: #1da1f2;
}

#sitegaiyou {
    margin-top: 40px;
}

/* 企画概要
-------------------------------------------------*/
.flex_gaiyou img {
    display: block;
    width: 487px;
    height: 649px;
}
.flex_gaiyou {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}
h3 {
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 30px;
}
.accordion_QA {
    max-width: 800px;
    margin: 0 auto 20px;
    background-color: #fff6c2;
    border-radius: 5px;
}
.accordion_QA summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    color: #333333;
    cursor: pointer;
    font-weight: 600;
    text-align: left;
}
.accordion_QA summary::-webkit-details-marker {
    display: none;
}
.accordion_QA summary::after {
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 3px solid #cfc692;
    border-right: 3px solid #cfc692;
    content: '';
    transition: transform .3s;
}
.accordion_QA[open] summary::after {
    transform: rotate(225deg);
}
.accordion_QA p {
    transform: translateY(-10px);
    opacity: 0;
    margin: 0;
    padding: .3em 2em 1.5em;
    color: #333333;
    transition: transform .5s, opacity .5s;
    text-align: left;
}
.accordion_QA[open] p {
    transform: none;
    opacity: 1;
}
.fujossy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
}
.fujossy div {
    width: 500px;
    height: 160px;
    margin-bottom: 20px;
}

/* 共通世界設定
-------------------------------------------------*/
.h2_caption {
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    font-size: 2.4rem;
    line-height: 50px;
}

/* 問い合わせ
-------------------------------------------------*/
#contact .div_img {
    width: 200px;
    height: 170px;
    margin: 15px auto;
}
.button_link {
    font-family: 'RocknRoll One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    /* padding: .9em 2em; */
    height: 50px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 3px #f8b400;
    background-color: #f8b400;
    color: #fff;
}
.button_link:hover {
    border: 2px solid #f8b400;
    box-shadow: 0 0 0 3px #fff;
    background-color: #fff;
    color: #f8b400;
}
.timeline {
    margin: 30px auto 50px;
    width: 800px;
}
.button_red {
    box-shadow: 0 0 0 3px red;
    background-color: red;
}
.button_red:hover {
    border: 2px solid red;
    box-shadow: 0 0 0 3px #fff;
    background-color: #fff;
    color: red;
}

/* フッター
-------------------------------------------------*/
footer {
    width: 100%;
    height: 60px;
    background-color: #f8b400;
    text-align: center;
}
small {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1em;
    line-height: 60px;
}

/* 作品一覧
-------------------------------------------------*/
.works_buttonlist {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.works_buttonlist .button_link {
    margin: 0 15px;
}
.flex_works {
    width: 100%;
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 1fr;
    justify-content: center;
    row-gap: 30px;
    -moz-column-gap: 3%;
         column-gap: 3%;
}
.div_works {
    margin-bottom: 80px;
}
.works_card {
    display: block;
    text-align: left;
    padding: 25px 20px 15px;
    width: 300px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}
.flex_works a:hover {
    color: #333;
    background-color: #FFF6C2;
}
.works_tag {
    display: flex;
    line-height: 1.6rem;
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.works_tag li {
    padding: 0 6px 0 5px;
    border-right: 1px solid #333;
}
.works_tag li:first-child,
.works_tag li:last-child {
    border-right: none;
}
.works_tag .tag_r18 span {
    padding: 3px 6px;
    text-align: center;
    font-family: "RocknRoll One";
    font-size: 1.4rem;
    color: #fff;
    background: #f85315;
    margin: 0 4px 0 -5px;
}
.works_tag .tag_all span {
    padding: 3px;
    font-family: "RocknRoll One";
    font-size: 1.4rem;
    background: #fff;
    margin: 0 4px 0 -5px;
    border: #333 1px solid;
}
h4 {
    font-family: "RocknRoll One";
}
.works_card p {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.works_illust {
    height: 150px;
    overflow: hidden;
}
.p_info {
    margin: 20px 0;
    font-size: 1.6rem;
}

/* 非表示
-------------------------------------------------*/
.hamburger_menu {
    display: none;
}

/*==================
#loading
==================*/

#loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #222222;
    text-align: center;
}


/*==================
モーダル表示
==================*/
.button_list {
    font-family: 'RocknRoll One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin: 0 20px 20px 0;
    height: 50px;
    background-color: #f8b400;
    color: #fff;
}
.button_list:hover {
    border: 1px solid #f8b400;
    background-color: #fff;
    color: #f8b400;
}

.link_FA {
    display: block;
    font-family: "RocknRoll One";
    color: red;
    margin-bottom: 20px;
}
.link_FA:hover {
    color: red;
    opacity: .75;
}
.link_rule {
    display: inline-block;
    font-size: 2.0rem;
    margin-top: 50px;
}

.modal_buttonlist {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.mfp-content {
    max-width: 750px;
    margin: 10px auto;
    padding: 30px;
    border-radius: 20px;
    background: #fff;
}
.sp {
    display: none;
}

/*-------------------------------------------------

  レスポンシブ対応（スマホ）

-------------------------------------------------*/
@media screen and (max-width: 1023px) { 

    #loading_text .progressbar-text {
        font-size: 1.0rem !important;
    }

    .wrapper
    {
        width: 100%;
        padding: 0 15px;
    }

    .sp,
    .hamburger_menu {
        display: block;
    }
    .pc,
    .header_nav,
    #hamburger_icon_check {
        display: none;
    }

    section {
        margin: 40px auto 100px;
        padding-top: 60px;
        background-color: rgba(255, 255, 255, 0.75);
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
    }

    #sitegaiyou {
        margin-top: 0;
    }

    body {
        background-image: url(images/bg_new_sp.webp);
    }

    /* ヘッダー
    -------------------------------------------------*/
    h1 {
        font-size: 2.4rem;
    }
    header {
        background-color: initial;
    }    

    /* ハンバーガーメニュー(アイコン)
    -------------------------------------------------*/
    .hamburger {
        background-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
        border-color: transparent; /*buttonタグデフォルトスタイルを打ち消し*/
        position: fixed;
        top: 0px;
        right: 0px;
        height: 60px;
        width: 60px;
        z-index: 99;
        background-color: #f8b400;
    }

    /* ハンバーガーメニューの線 */
    .hamburger span {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        font-weight: bold;
        text-align: center;
        margin: auto;
        font-size: 0.9em;
        height: 3px;
        width: 30px;
        border-radius: 3px;
        background-color: #fff;
        transition: ease .4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
        display: block;
    }
    
    .hamburger span:nth-child(1) {
        top: 0;
    }
    
    .hamburger span:nth-child(2) {
        margin: 8px auto;
    }
    
    .hamburger span:nth-child(3) {
        top: 0;
    }


    /* ハンバーガーメニュークリック後のスタイル */
    .hamburger_menu.active {
        transform: translateX(0);
    }
    
    .hamburger.active span:nth-child(1) {
        top: 7px;
        transform: rotate(45deg);
    }
    
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active span:nth-child(3) {
        top: -15px;
        transform: rotate(-45deg);
    }
    header.active {
        background-color: #fff;
    }

    /* ハンバーガーメニュー(メニュー)
    -------------------------------------------------*/
    .hamburger_nav {
        width: 100%;
        height: 100%;
        padding: 30px 0;
        text-align: center;
        position: fixed;
        left: 0;
        z-index: 90;
        background-color: #fff;
        font-size: 1.1em;
        left: 100%;/*値を変更してメニューを画面外へ*/
        transition: all 0.3s;
    }

    .hamburger_nav.active {
        left: 0%;/*メニューを画面内へ*/
    }

    .hamburger_nav ul {
        margin-top: 120px;
    }

    .hamburger_nav li {
        font-family: 'RocknRoll One', sans-serif;
        margin-bottom: 20px;
    }


    /* トップ画像
    -------------------------------------------------*/
    .top_image {
        width: 100%;
        padding: 0;
        position: initial;
    }
    h1 {
        width: 80%;
        line-height: 3rem;
    }
    .top_image_slide {
        img {height: 300px;}
    }
    .top_image_left {
        position: initial;
        width: 100%;
        margin-top: 20px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.75);
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
        .top_image_left_p {
            background-color:transparent;
            color: #000;
            padding: 0;
            font-size: 1.4rem;
        }
    }
    .top_image_right {
        position: initial;
        width: 100%;
        text-align: center;
        padding: 30px 0 0;
        background-color: transparent;
        color: #000;
    }
    .top_image p {
        font-size: 1.8rem;
        text-height: 1.8rem;
    }
    .top_image .caption {
        margin-top: 30px;
        font-size: 3.2rem;
    }

    /* 企画概要
    -------------------------------------------------*/
    .flex_gaiyou {
        margin-bottom: 60px;
        flex-direction: column;
        justify-content: center;
    }
    .flex_gaiyou img,
    #kyoutuu img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
    }
    .fujossy {
        margin-top: 50px;
    }
    .accordion_QA,
    .fujossy div {
        width: 100%;
    }

    .fujossy div {
        margin: 0;
    }

    /* お問合せ
    -------------------------------------------------*/
    .timeline {
        width: 100%;
    }

    /* 作品一覧
    -------------------------------------------------*/
    .works_buttonlist {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .works_buttonlist .button_link {
        margin: 0 0 15px;
    }
    .flex_works {
        display: block;
    }
    .works_card {
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 30px;
    }
    .button_list {
        max-width: 300px;
        margin-right: 15px;
        height: 50px;
        background-color: #f8b400;
        color: #fff;
    }
    .link_FA {
        font-size: 1.6rem;
    }


}